<header class="main-header">

  <!-- Logo -->
  <a href="#" class="logo" style="height: 90px; padding-top: 5px;">  
    <span class= "tcf-logo"><img src="../../../assets/img/logo1.png"     width="213px;"      height="65px;" ></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation" style="min-height: 65px;">
    <!-- Sidebar toggle button-->
    
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav"> 
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <h4 style="text-align: right; padding-right: 15px ; color:white;">
            
              {{ timeNow | async | date:'longDate' }}
                 
          
          </h4>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-right: 17px;">
            <!-- The user image in the navbar-->
            <img src="assets/img/avatar5.png" class="user-image" alt="User Image">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">Welcome {{loggedInUserDetails.firstName}}  {{loggedInUserDetails.lasttName}}</span>
          </a>
          
          <ul class="dropdown-menu" style="width: 100px;">
            
            
            <!-- Menu Footer-->
            <li class="user-footer"> 
              <div class="pull-right">
                <a href="javascript:void(0)" class="btn btn-default btn-flat" (click)="logout()">Sign out</a>
              </div>
            </li>
          </ul>

        </li>
        <!-- Control Sidebar Toggle Button -->
        
      </ul>
    </div>
  </nav>
</header>
